#C2 {
  border: 3px solid #ffffffa8;
  padding: 50px;
  background:url(../components/images/S3.jpg);
	height: 625px;
	min-height: 625px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
#IHBL {
	border-right: 1px solid rgba(0, 0, 0, 0.57);
	padding-left: 40px;
}
#IHBR {
	border-left: 1px solid rgba(0, 0, 0, 0.57);
	padding-right: 50px;
}
div#Info.container {
	margin-right: 40px;
	margin-left: 40px;
}
#Info {
  color: white;
  font-weight: bold;
}

