<!-- Info About the web -->
<div class="container-fluid" id="C2">
  <div class="container-fluid" id="Info">
    <div class="row" id="HPI">
        <div class="col-3" id="IHBL">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation=" vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"  role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"   role="tab" aria-controls="v-pills-messages" aria-selected="false">Features</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"   role="tab" aria-controls="v-pills-settings" aria-selected="false">Contacts </a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"   role="tab" aria-controls="v-pills-profile" aria-selected="false">About Us </a>
          </div>
        </div>
        <div class="col-9" id="IHBR">
          <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="  v-pills-home-tab">
                <h1>retrievium™ is a data-driven modelling and discovery tool for chemistry.</h1>
                <p>
                  Thank you for your interest in Retrievium! At this time,
                  we are in an invite-only beta testing phase. Consequently,
                  there is limited access to data and functionality.
                  We anticipate a broader beta release in 2019.
                  If you are interested in participating,let us know by emailing contact@retrievium.com.
                </p>
              </div>

              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="  v-pills-messages-tab">
                <p>
                    As a new tool for data-driven inquiry in chemistry,retrievium allows
                    researchers and engineers to interact with large repositories of high-accuracy computational data in addition
                    to being able to distill new knowledge via intelligent, meaning-based search and retrieval capabilities.
                </p>
                <h2>Searching</h2>
                <P>
                    Our searching features allow you to quickly discover molecules by filtering our extensive repository for similarity to a target,
                    computational model, spectral properties and/or dozens of other specific properties.
                </P>
                <H2>Community</H2>
                <P>
                    retrievium brings your team together around research data and connects you with a global pool of users. Create a group and share data with your team,
                    from anywhere, and let retrievium fully index it, and interface it with powerful analytics tools.
                </P>
              </div>

              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="  v-pills-settings-tab">
                  <h1> Retrievium c/o</h1>
                  <p> Memorial University </p>
                  <p> Department od chemistry</p>
                  <p> St. John's NL</p>
                  <p> Canada, A1B 3X7</p>
                  <p> Email : <a href="contact@retrievium.com"> contact@retrievium.com</a> </p>
                  <!-- <a>{{'contact.email' | translate}}<a href="mailto: contact@retrievium.com" [translate]="'common.contact.email'"></a></p> -->
              </div>

              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby=" v-pills-profile-tab" >
               <p>
                  Retrievium is a unique data-driven modeling tool in the chemical sciences.
                Computational modelling is a powerful predictive tool in the search for new drugs, materials, and insight into the properties of chemical systems,
                but models are limited by either the accuracy of the simulations or the computing power required to get useful results.
                You can know more through the PDF.
               </p>
               <a [href]="externalLink" > Read Me</a>
              </div>

          </div>
        </div>
      </div>
    </div>
</div>
