<div class="container-fluid" id="Con">
  <app-nav> </app-nav>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
	        <div class="carousel-item active"><img id="MyImg1" src =" " class="d-block w-100"  ></div>
	        <div class="carousel-item"><img id="MyImg2" src=" " class="d-block w-100"  ></div>
	        <div class="carousel-item"><img id="MyImg3" src=" " class="d-block w-100" ></div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
          	<span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          	<span class="carousel-control-next-icon" aria-hidden="true"></span>
          	<span class="sr-only">Next</span>
        </a>
	    <div class="card-img-overlay">
	       	<div id="content">
	       		<h1 id="H">Retrievium</h1>
	         	<hr id="hr">
	         	<button class="bin bin-default btn-lg"><a href="#HPI"><SPAN class="glyphicon glyphicon-apple" aria-hidden="true"> </SPAN> Get Started!</a> </button>
	       	</div>
	    </div>
  </div>

  </div>
