div#Con.container-fluid {
	height: 100%;
	padding: 0%;
	min-height: 300px;
}

nav#Navbar-sticky-fluid.navbar.sticky-top.navbar-expand-md.navbar-dark.bg-dark.NSF {
	background-color: #343a4085;
}
a#NAV.navbar-brand {
	margin-left: 40px;
}
div#navbarsupportedContent.collapse.navbar-collapse {
	margin-left: 40px;
}
a#navbarDropdown.nav-link.dropdown-toggle {
	margin-right: 40px;
}

#MyImg1 {
  background:url(../images/S4.jpg);
	height: 775px;
	min-height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  background-position: center;
}
#MyImg2 {
  background:url(../images/S0.jpg);
  height: 775px;
	min-height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  background-position: center;
}
#MyImg3 {
  background:url(../images/S6.jpg);
  height: 775px;
	min-height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  background-position: center;
}
#content {
	text-align: center;
	padding-top: 15%;
	text-shadow: 0px 4px 3px black,
				 0px 8px 13px white,
				 0px 16px 23px grey;
}
h1#H{
	font-weight: 900px;
	color: white;
	font-size: 55px;
	text-align: center;
}
h3#H{
	font-weight: 700px;
	color: white;
	font-size: 35px;
	text-align: center;
}
hr#hr {
	width: 400px;
	border-bottom: 1px solid #163b8e9e;
    border-top: 1.2px solid rgba(0, 0, 0, 0.64);
	text-align: center;
}
#ConImg {
	height: 625px;
	width: 100%;
}
