#MyImg1 {
  background:url(../components/images/S12.jpg);
	width: 100%;
  height: 775px;
  background-size: cover;
	/* min-height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  background-position: center; */
}
#MyImg2 {
  background:url(../components/images/S13.jpg);
  width: 100%;
  height: 775px;
  background-size: cover;
	/* background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  background-position: center; */
}
#MyImg3 {
  background:url(../components/images/S14.jpg);
  width: 100%;
  height: 775px;
  background-size: cover;
	/* background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  background-position: center; */
}

#C3 {
	padding: 0%;
	height: 775px;
	min-height: 775px;
}
