<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark" id="Navbar-sticky-fluid">
  <div class="container-fluid">
    <a class="navbar-brand" id="NAV" href="Project.html">Retrievium</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#">The Family <span class="sr-only">(current)</span></a></li>
            <!--We Will be adding here another we page that is linked to it to tell us about the family of the organers  -->
            <li class="nav-item"><a class="nav-link" href="#">Gallery <span class="sr-only">(current)</span></a></li>
            <!-- IN here for you to be able to see the whole Gallery you have to subscribe to see the places that u can visit but u can see a sample in the home page -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Subscribe</a>
              <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#"data-toggle="modal" data-target="#SignMeUp">Sign up</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"data-toggle="modal" data-target="#SignMeIn">Login</a>
              </div>
             </li>
        </ul>
  </div>
  </div>
</nav>
