div#Con.container-fluid {
	height: 100%;
	padding: 0%;
	min-height: 300px;
}

nav#Navbar-sticky-fluid.navbar.sticky-top.navbar-expand-md.navbar-dark.bg-dark.NSF {
	background-color: #343a4085;
}
a#NAV.navbar-brand {
	margin-left: 40px;
}
div#navbarsupportedContent.collapse.navbar-collapse {
	margin-left: 40px;
}
a#navbarDropdown.nav-link.dropdown-toggle {
	margin-right: 40px;
}
